{{#each comments}}
  <div class="comment">
    <p class="comment-author">{{userWhoCommented}}</p>
    <p class="comment-content">{{content}}</p>
    <p class="comment-date">{{date}}</p>
  </div>
{{/each}}

