<body>
<link rel="stylesheet" href="/public/css/lab10.css">
</body>

<h1 class="container">{{title}}</h1>
<p class="phrase">Welcome {{firstName}}, the time is now: {{currentTime}}</p>
<p class="phrase"> You get super secret admin access since you are an admin. Remember, with great power comes great
    responsibility.</p>
<div class="link">
    <a href='/protected'>Click here to protected route</a><br>
    <a href='/logout'>Log out</a>
</div>