<link rel="stylesheet" href="/public/css/allComments.css"> --}}
<h1 class="comments-heading">All Comments</h1>
<a id="aa" href="/homepage">Back</a>
<div class="comments-container">
  {{#each comment}}
    <div class="comment-box">
      <h2>{{userName}}</h2>
      <p>{{contents}}</p>
    </div>
  {{/each}}
</div>

<link rel="stylesheet" href="/public/css/allComments.css">
