<div class="container">
    <p id="resetPasswordError" class="error" >{{error}}</p>
    <section class="body-wrapper con">
     
        <form id="changePassword-form" action="/change-password/{{id}}" method="post" data-id="{{id}}">
           {{!-- <p id="resetPasswordError" class="error" hidden>{{error}}</p> --}}
            <div class="fp">
                <h1>Reset Password</h1>

                <div class="password">
                    <label for="oldPassword">Old password: </label>
                    <div class="sec-2">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" id="oldPassword" name="oldPassword" placeholder="*****" >
                    </div>
                </div>

                <div class="password">
                    <label for="newPassword">New password: </label>
                    <div class="sec-2">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" id="newPassword" name="newPassword" placeholder="*****" >
                    </div>
                </div>

                
                <button type="submit" value="submit" class="login">Submit</button>
                {{!-- <div class="footer">
                    <a href="/login">Login</a>
                </div> --}}
            </div>
        </form>
    </section>
    {{!-- <script src="/public/js/auth/resetPassword.js" type="module"></script> --}}
    <link rel="stylesheet" href="/public/css/resetpassword.css">
</div>


