<div class="container">
    <section class="body-wrapper con">
        <form id="resetPassword-form" action="/event-register/{{id}}" method="post">
            <div class="fp">
                <h1>Event registration</h1>

                <ul id="resetPasswordError" class="error" hidden></ul>
                <button type="submit" value="submit" class="login">Confirm</button>
                <div class="footer">
                    <a href="/login">Login</a>
                </div>
            </div>
        </form>
    </section>
    <link rel="stylesheet" href="/public/css/main.css">
</div>

