<div class="container">
    <section class="body-wrapper con">
        <form id="forgetPassword-form" action="/forgot-password" method="post">
            <div class="rp">
                <h1>Reset Password</h1>
                <div class="inf">
                    <label for="email">Email: </label>
                    <div class="sec-2">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="email" id="email" name="email" placeholder="firname.lastname@stevens.edu">
                    </div>
                </div>
                <ul id="forgetPasswordError" class="error" hidden></ul>
                <button type="submit" value="submit" class="login">Submit</button>
                <div class="footer">
                    <a href="/login">Login</a>
                </div>
            </div>
        </form>
    </section>
    <script src="/public/js/auth/forgotPassword.js" type="module"> </script>
    <link rel="stylesheet" href="/public/css/forgotpassword.css">
</div>


