<body>
<link rel="stylesheet" href="/public/css/main.css">
</body>


<div id="error" class="error" hidden>I'm an error. I will change through Client-Side JS</div>
<div class="container center">
    <h1 class="login">Login Page</h1>
    <form id="login-form" action="/login" method="post">
        <label for="emailAddressInput">Email Address:</label>
        <input type="email" name="emailAddressInput" id="emailAddressInput"><br>
        <label for="passwordInput">Password:</label>
        <input type="password" name="passwordInput" id="passwordInput"><br>
        
        <button type="submit" class="registerbtn">Login</button>
    </form>
   <div class="hlink">
    
    
         
    <a href="/">Forgot your password?</a>
    <a href="/register">Click here to register!</a>
    </div>
    <script src="../public/js/login.js" type="module"></script>
</div>

