<body>
<link rel="stylesheet" href="/public/css/main.css">
</body>


<div id="error" class="error" hidden>I'm an error. I will change through Client-Side JS</div>
<div class="container center">
    <h1 class="login">Login Page</h1>
    <form id="login-form" action="/login" method="post">
    <div class="inf">
        <div class="sec-1">
        <label for="emailAddressInput">Email Address:</label>
    </div>
    <div class="sec-2">
        <input type="email" name="emailAddressInput" id="emailAddressInput">
        </div>
    </div>
     <div class="inf">
        <div class="sec-1">
        <label for="passwordInput">Password:</label>
        </div>
            <div class="sec-2">
        <input type="password" name="passwordInput" id="passwordInput">
     </div>
     </div>
        
        <button type="submit" class="registerbtn">Login</button>
    </form>
   <div class="hlink">
    
    
         

    <a href="/register">Click here to register!</a>
    </div>
    <script src="../public/js/main.js"></script>
</div>

