<div class="container center login-container" width="40%">
    <h1 class="login">Login Page</h1>
    <form id="login-form" action="/login" method="post">
        <div class="inf">
            <div class="sec-1">
                <label for="email">Email Address:</label>
            </div>
            <div class="sec-2">
                <input type="email" name="email" id="email" value="{{email}}">
            </div>
        </div>
        <div class="inf">
            <div class="sec-1">
                <label for="password">Password:</label>
            </div>
            <div class="sec-2">
                <input type="password" name="password" id="password" value="{{password}}">
            </div>
        </div>

        <button type="submit" class="registerbtn">Login</button>
    </form>
    <div class="hlink">


        <a href="/forgot-password">Forgot your password?</a><br>
        <a href="/register">Click here to register!</a> 

<div>
    <ul class="error" id="loginError"></ul>
</div>

<script src="/public/js/auth/login.js" type="module"></script>
<link rel="stylesheet" href="/public/css/login.css">