<body>
<link rel="stylesheet" href="/public/css/lab10.css">
</body>

<div id="error" class="error" hidden>I'm an error. I will change through Client-Side JS</div>
<div class="container">
    <h1 class="login">{{title}}</h1>
    <form id="login-form" action="/login" method="post">
        <label for="emailAddressInput">Email Address:</label>
        <input type="email" name="emailAddressInput" id="emailAddressInput"><br>
        <label for="passwordInput">Password:</label>
        <input type="password" name="passwordInput" id="passwordInput"><br>
        <input type="submit" value="Login">
    </form>


    <a href="/register">Click here to register!</a>
    <script src="../public/js/main.js"></script>
</div>

