<form method="POST" action="/posts" id="post-form">
 <div class="container center">
    <h1 class="login">Posts</h1>
    <div class="inf">
        <div class="sec-1">
<label for="postCategory">Post Category:</label>
        </div>
 <div class="sec-2">
<select name="postCategory" id ="postCategory">
    <option value="education">Education</option>
    <option value="sports">Sports</option>
    <option value="entertainment">Entertainment</option>  
</select>
</div>
</div>
 <div class="inf">
        <div class="sec-1">

<label for="postContent">Post Content: </label>

</div>
 <div class="sec-2">
<textarea name="postContent" rows="6" maxlength="300" id="postContent" required></textarea>
</div>
</div>

        <button type="submit" class="registerbtn">Add Post</button>
        </div>


<h1>Upload Image</h1>
<form method="POST" action="/posts/upload" enctype="multipart/form-data">
<input type="file" name="postImage">
<input type="submit">
</form>

<button type="submit">Add Post</button>
</form><br>

<p>{{Error}}</p>
