{{!-- TODO: Change the action below --}}

{{!-- creating post handlebar below --}}
<form method="POST" action="/post" id="myForm">
<label for="category">Post Category: </label>
<input type="text" name="category" required>

<label for="postedContent">Post Content: </label>
<textarea name="postedContent" rows="6" maxlength="300" required></textarea>

<button type="submit">Create Post</button>
</form>

