{{!-- creating post handlebar below --}}
<div class="post-container">
<form method="POST" action="/posts" id="creatPost-form">
    <h1>Post</h1>
    <label for="postCategory">Post Category:</label>

    <div class="post-inf">
        <label for="role">Category: </label>
        <select name="postCategory" id="postCategory" required>
            <option value="education">Education</option>
            <option value="sports">sports</option>
            <option value="entertainment">Entertainment</option>
        </select><br>
    </div>

    <div class="post-inf">
    <label for="postContent">Post Content: </label>
    <textarea name="postContent" rows="6" maxlength="300" id="postContent" content="{{postContent}}" required></textarea><br>
    </div>
    <button type="submit" value="Submit" class="post">Add Post</button>
    <ul id="create-postError" class="error"  hidden></ul>
</form><br>
</div>

<script src="/public/js/post/posts.js" type="module"></script>
<link rel="stylesheet" href="/public/css/main.css">



