    <div class="container">
        <section class="body-wrapper con">
            <form id="resetPassword-form" action="/reset-password/{{id}}" method="post" data-id="{{id}}">
                <div class="fp">
                    <h1>Reset Password</h1>

                    <div class="password">
                        <label for="newPassword">New password: </label>
                        <div class="sec-2">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                            <input type="password" id="newPassword" name="newPassword" placeholder="*****" value="{{newPassword}}">
                        </div>
                    </div>

                    <div class="password">
                        <label for="confirmNewPassword">Confirm new password: </label>
                        <div class="sec-2">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                            <input type="password" id="confirmNewPassword" name="confirmNewPassword" placeholder="*****" value="{{confirmPassword}}">
                        </div>
                    </div>

                    <ul id="resetPasswordError" class="error" hidden></ul>
                    <button type="submit" value="submit" class="login">Submit</button>
                    <div class="footer">
                        <a href="/login">Login</a>
                    </div>
                </div>
            </form>
        </section>
        <script src="/public/js/auth/resetPassword.js" type="module"></script>
        <link rel="stylesheet" href="/public/css/resetpassword.css">
    </div>


