<form method="GET" action="/search-posts">
<label for="searchBy">Search By: </label>
<select name="searchBy">
    <option value="all">All Posts</option>
    <option value="id">Post ID</option>
    <option value="category">Category</option>
    <option value="postContent">Post Content</option>
</select>
{{#if showIdField}}
<label for="id">Post ID:</label>
<input type="text" name="id">
{{/if}}

{{#if show}}
<label for="category">Category:</label>
<input type="text" name="category">
{{/if}}

{{#if show}}
<label for="postContent">Post Content:</label>
<input type="text" name="postContent">
{{/if}}


</form>