{{!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Search Results</title>
  </head>
  <body>
    <h1>Search Results</h1>
    <ul>
      {{#each searchResults}}
        <li>
          <h2>{{eventName}}</h2>
          <p>{{eventDescription}}</p>
          <p>Location: {{eventLocation}}</p>
          <p>Date: {{eventDate}}</p>
        </li>
      {{/each}}
    </ul>
  </body>
</html> --}}
