<form method="POST" action="/update-post">
    <label for="id">Post ID:</label>
    <input type="text" name="id">

    <label for="category">Post Category: </label>
    <input type="text" name="category">

    <label for="postedContent">Post Content: </label>
    <textarea name="postedContent" rows="6" maxlength="300"></textarea>

    <button type="submit">Update Post</button>

</form>
