<form method="POST" action="/update-event">
<label for="id">Event ID:</label>
<input type="text" name="id">

<label for="eventName">Event Name:</label>
<input type="text" name="eventName">

<label for="description">Description:</label>
<textarea name="description" row="5"></textarea>

<label for="buildingName">Building Name:</label>
<input type="text" name="buildingName">

<label for="organizer">Organizer:</label>
<input type="text" name="organizer">

<label for="seatingCapacity">Seating Capacity:</label>
<input type="number" name="seatingCapacity">

<button type="submit">Update</button>

</form>