.comments-heading {
    margin-top: 51px;
}

#aa {
    margin-top: 60px;
    align-items: center;
}

.comments-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.comment-box {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 80%;
    max-width: 600px;
    text-align: center;
    margin-top: 20px;
}

.comment-box h2 {
    margin-top: 0;
}
.error {
    color:red;
  }