.container {
    max-width: 600px;
    margin: 50px auto;
  }
  
  .inf {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  .sec-1 {
    width: 100px;
    padding: 10px;
  }
  
  .sec-2 {
    padding: 10px;
  }
  
  select, textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #d7dadc;
    box-sizing: border-box;
    margin-top: 5px;
  }
  
  input[type="submit"] {
    background-color: #0079d3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  #category {
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #d7dadc;
    transition: border-color 0.2s;
  }
  
  #description {
    width: 100%;
    max-width: 600px;
    resize: none;
    border: 1px solid #d7dadc;
    border-radius: 0.5rem;
    padding: 0.5rem;
    transition: border-color 0.2s;
  }
  
  #category:focus, #description:focus {
    border-color: #0079d3;
  }
  

  .container {
    max-width: 800px;
    /* margin: 0 auto; */
    text-align: center;
  }
  
  .discussion {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .discussion h1 {
    color: blue;
    text-align: left;
  }
  
  .discussion h2 {
    color: #1e90ff;
  }
  
  .discussion p {
    color: #333;
    margin-bottom: 10px;
  }
  
  .discussion button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  .reply-form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .reply-form button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .replies {
    margin-top: 10px;
  }
  
  .reply {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
  }
  