.discussion-panel .btn-primary {
  color: #fff;
  background-color: blue;
  border-color: blue;
}

#filters .btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.discussion {
  color: #333;
}
.discussion-panel .discussion .text-primary {
  color: blue !important;
}

.discussion-panel .discussion .replies .btn-success {
  background-color: green !important;
  border-color: green !important;
}

.discussion-panel .discussion .replies .btn-info {
  background-color: green !important;
  border-color: green !important;
}

.replies .btn-info {
  color: #fff;
  background-color: green;
  border-color: green;
}

.reply-form .btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.modal-content .btn-primary {
  color: #fff;
  background-color: blue;
  border-color: blue;
}

.container {
  max-width: 600px;
  margin: 50px auto;
}

.inf {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.sec-1 {
  width: 100px;
  padding: 10px;
}

.sec-2 {
  padding: 10px;
}

select, textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #d7dadc;
  box-sizing: border-box;
  margin-top: 5px;
}

input[type="submit"] {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}

#category {
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #d7dadc;
  transition: border-color 0.2s;
}

#description {
  width: 100%;
  max-width: 600px;
  resize: none;
  border: 1px solid #d7dadc;
  border-radius: 0.5rem;
  padding: 0.5rem;
  transition: border-color 0.2s;
}

#category:focus, #description:focus {
  border-color: blu;
}

.container {
  max-width: 800px;
  /* margin: 0 auto; */
  text-align: center;
}

.discussion {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.discussion h1 {
  color: blue; 
  text-align: left;
}

.discussion h2 {
  color: blue;
}

.discussion p {
  color: black;
  margin-bottom: 10px;
}

.reply-form textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 10px;
}

.replies {
  margin-top: 10px;
}
