body {
  font-family: Arial, sans-serif;
  padding-top: 70px;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

input[type="text"],
textarea,
select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.center {
  text-align: center;
}

h1,
h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}

button.registerbtn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
}

button.delete-btn {
  background-color: #f44336;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  margin-left: 10px;
}

.event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  min-height: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 70px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.event-container h2 {
  margin-bottom: 10px;
}

.event-container p {
  margin-bottom: 10px;
}

.event-container img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

#error-message {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

#image-preview {
  max-width: 100%;
  margin-bottom: 10px;
}