body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.alertPage {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px; 
}

#btn {
  background-color:green;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.error {
  color:red;
}