body {
    font-family: monospace;
    background-repeat: no-repeat;
    background-size: cover;
}


header {
    border-bottom: 1px solid #be3144;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
select:focus {
    background-color: #ddd;
    outline: none;
}

h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 5px;
}

nav {
    background-color: #333;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.container {
    display: table;
    width: 100%;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: left;
    margin-top: 10%;
}

.inf {
    width: 80%;
}

.sec-1 {
    width: 30%;
    float: left;
    margin-left: 80px;
    margin-top: 10px;
    align-content: center;
}

.sec-2 {
    float: left;
    margin-top: 10px;
}

footer {
    height: 50px;
}

.form-container {
    width: 50%;
    padding: 20px;
    background-color: #f2f2f2;
}

#get-posts-navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    left: 0;
}

#get-posts-navbar form {
    display: flex;
    align-items: center;
}

#get-posts-navbar input[type="text"],
#get-posts-navbar button[type="submit"] {
    height: 30px;
    width: 200px;
    margin-right: 10px;
}

#get-posts-navbar button[type="submit"] {
    height: 30px;
}

#event-cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-card {
    width: 400px;
    padding: 20px;
    margin: 20px;
    background-color: #f2f2f2;
}

.event-card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.event-card p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

a {
    color: dodgerblue;
}

.hlink {
    width: 100%;
    text-align: center;
}

#map { height: 180px; }
