body {
  background: #fefefe;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 15pt;
}

main {
  max-width: 75%;
  margin: auto;
}

header {
  border-bottom: 1px solid #afafaf;
}

h1
{
  color: #333;
  margin-bottom: 5px;
}

h1 {
  font-size: 2rem;
}
